/* CSS Reset */

/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/


/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
/* {
  margin: 0;
}*/
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(235, 235, 235);
  font-family: Roboto

}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  /*display: block;*/
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.st-tittle {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.signInput {
  margin: 0.5rem 0;
}


.app-logo {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.bankAccountBody {
  margin-left: 240px;
}


.bankAccountsForm {
  display: flex;
  flex-direction: column;
}

.bankAccountsTextfield {
  max-width: 50%;
  margin: 1rem;
  padding: 1rem;

}

.personalBody {
  margin: 50px 260px;
}

.personalCard {
  max-width: 50%;
  /* border-top: solid 1px lightgray; */
  border-bottom: solid 1px lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 2rem 1rem;
  padding: 0.5rem;
}

.personalCardwitImg {
  display: flex !important;
  flex-direction: row !important;
}

.personalCardBody {
  display: flex;
  flex-direction: column;
}

.userInfo {
  margin: 1rem 20px;
}

.transactionAvatar {
  width: 4rem;
}

.amountP {
  color: red;
  font-weight: 600;
}

.transactionLink {
  text-decoration: none;
  color: inherit;
}

.transactionBody {
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transAvatar {
  display: flex;
  flex-direction: row;
  /*margin: 1rem 0.5rem;*/
}

.personalCardAmount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transh4 {
  font-size: 2rem;
  color: #1769aa;
}

.thumbieUp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.thumbieUp p {
  margin-right: 2rem;
}

.pplCard {
  
  /* border-top: solid 1px lightgray; */
  border-bottom: solid 1px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 1rem;
  padding: 0.5rem;

}

.pplAvatEtCard {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.thumbsNMessages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: lightgray;
}

.thumbsNMessages p {
  margin: auto 2rem;
}